/*importing fonts from Google*/
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lavishly+Yours&family=Oswald:wght@200..700&family=Rouge+Script&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lavishly+Yours&family=Oswald:wght@200..700&family=Rouge+Script&family=Tangerine:wght@400;700&display=swap');


.dancing-script-agn {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
  }
  

.rouge-script-regular {
    font-family: "Rouge Script", serif;
    font-weight: 400;
    font-style: normal;
  }

  
.oswald-osw-agn {
    font-family: "Oswald", serif;
    /* need to comment this out as I am getting "error mesage in css validator 
    font-optical-sizing: auto; */
    font-weight: 200;
    font-style: normal;
  }

  .lato-thin {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", serif;
    font-weight: 900;
    font-style: italic;
  }

  .lavishly-yours-regular {
    font-family: "Lavishly Yours", serif;
    font-weight: 400;
    font-style: normal;
  }
  

/*general rule that will apply for all elements*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general rule that will apply to entire body (unless specifically mentioned in child elements)*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    font-family:  "Lavishly Yours", "lato", "Oswald";
}


header {
    color:brown;
    background: url(../images/Palm\ tree\ and\ blue\ sky) center center/cover;
    background-color: rgb(30, 124, 183);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 4px 4px 4px rgb(0, 0, 0);

/*
    display: flex;
    justify-content: space-between;
    align-items: baseline;
*/    


}

header a {
    text-decoration: none;
    color: inherit;

}

h1 {
    font-family: "Dancing Script", "Rouge Script", "Lavishly Yours", "Rouge Script", "Oswald";
    text-transform: uppercase; 
    letter-spacing: 4px;
    color: rgb(255, 6, 6);
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-size: 130%;
    text-align: center;
}

h2, h3 {
    font-family: "Dancing Script", "Tangerine", "Lavishly Yours", "Rouge Script", "Oswald", "lato";
    letter-spacing: 4px;
    text-transform: uppercase;  
    color: honeydew;
    margin-bottom: 0em;
    margin-top: 0em;
    font-size: 100%;
    text-align: center;
}

.header_list {
    list-style-type: none;
    color:rgb(182, 243, 13);
    font-size: 130%;
    letter-spacing: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(17, 129, 129, .5);


}

.header_list > li {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: gold;
    font-style: oblique;
    font-size: 80%;
}

.item_in_the_list {
    border-bottom: 1px solid orange;
    box-shadow: 4px 4px 4px rgb(14, 53, 4);
}

main {
    background: url(assets\images\water_background_for_gallery.jpg) repeat center center/cover;
    flex: 1 0 auto;
    margin-top: 120px;
 /*   position: relative; */
    height: 100%;
}

#main_background_picture_landing_page {
    height: 1250px;
    width: 100%;
    background: url(../images/cooked_food_1.jpg) no-repeat center center/cover;
    position: relative;
}

#main_background_picture_loyalty {
    height: 1250px;
    width: 100%;
    background: url(../images/cooked_food_2.jpg) no-repeat center center/cover;
}

#main_background_picture_menu {
    height: 1250px;
    width: 100%;
    background: url(../images/cooked_food_3.jpg) no-repeat center center/cover;
}

#main_background_picture_contact {
    height: 1250px;
    width: 100%;
    background: url(../images/cooked_food_4.jpg) no-repeat center center/cover;
}

#main_background_picture_about {
    height: 1250px;
    width: 100%;
    background: url(../images/cooked_food_5.jpg) no-repeat center center/cover;
}

.map_link {
    color: pink;
}

#cover_text_upper_left {
    background-color: rgb(0, 255, 255, 0.6);

    position: absolute;
    top: 25%;
    width: 75%;

    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    box-shadow: 4px 4px 8px rgb(165, 227, 6);

}

#cover_text_upper_right {
    background-color: rgb(0, 255, 255, 0.6);

    position: absolute;
    top: 25%;
    width: 75%;

    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    right: 0;
    box-shadow: 4px 4px 8px rgb(165, 227, 6);

}

#cover_text_lower_left {
    background-color: rgb(0, 255, 255, 0.6);

    position: absolute;
    top: 140%;
    width: 75%;

    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    box-shadow: 4px 4px 8px rgb(165, 227, 6);

}

#cover_text_lower_right {
    background-color: rgb(0, 255, 255, 0.6);

    position: absolute;
    top: 110%;
    width: 75%;

    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    right: 0;
    box-shadow: 4px 4px 8px rgb(165, 227, 6);

}

#cover_text_mid-centre {
    background-color: rgb(0, 255, 255, 0.6);
    position: absolute;
    top: 70%;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    right: 15%;
    left: 15%;
    box-shadow: 4px 4px 8px rgb(165, 227, 6);

}

#cover_text_upper_left > h3, #cover_text_upper_right > h3, #cover_text_lower_left > h3, #cover_text_lower_right > h3, #cover_text_mid-centre > h3 {
    font-size: 90%;
}

input:focus {
    background-color: aqua;
}

input {
    background-color: pink;
}

#dropdown_menu {
    background-color: pink;
}

#photos_for_gallery_page img {
    width: 100%;
}

#photos_for_gallery_page {
    line-height: 0.6;
    background: url(../images/water_background_for_gallery.jpg) center center/cover; 
    background-color: rgba(41, 49, 41, 0.6);
}

footer {
    background-color:teal;
    background: url(../images/wave-header-list-background.jpg) center center/cover;
}

#social_media {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 5px 5px;
    list-style-type: none;
}

#social_media i {
    color:pink;
    font-size: 150%;
    padding: 30%;
    box-shadow: 4px 4px 8px rgb(165, 227, 6);
}

@media screen and (min-width: 576px) {
    #photos_for_gallery_page {
        column-count: 2;
        column-gap: 0;
    }
    }

    @media screen and (min-width: 992px) {
        #photos_for_gallery_page {
            column-count: 3;
            column-gap: 0;
        }
        }

@media screen and (min-height: 400px) {
    #cover_text_upper_left {
        top: 30%;
        width: 45%;
        padding-top: 10px;
        padding-left: 10px;
    }
    
    #cover_text_upper_right {
        top: 35%;
        width: 45%;
        padding-top: 10px;
        padding-right: 10px;
        right: 0;
    }

    #cover_text_lower_left {
        top: 120%;
        width: 45%;
        padding-top: 10px;
        padding-left: 10px;
}

    #cover_text_lower_right {
        top: 140%;
        width: 45%;
        padding-top: 10px;
        padding-right: 10px;
        right: 0;
    }
    #cover_text_mid-centre {
        top: 90%;
        width: 80%;
        padding-top: 10px;
        padding-right: 10px;
        right: 15%;
        left: 15%;
}
#cover_text_upper_left > h3, #cover_text_upper_right > h3, #cover_text_lower_left > h3, #cover_text_lower_right > h3, #cover_text_mid-centre > h3 {
    font-size: 65%;
}
}


@media screen and (min-height: 600px) {
    #cover_text_upper_left {
        top: 35%;
        width: 45%;
        padding-top: 10px;
        padding-left: 10px;
    }
    
    #cover_text_upper_right {
        top: 45%;
        width: 45%;
        padding-top: 10px;
        padding-right: 10px;
        right: 0;
    }

    #cover_text_lower_left {
        top: 110%;
        width: 45%;
        padding-top: 10px;
        padding-left: 10px;
}

    #cover_text_lower_right {
        top: 120%;
        width: 45%;
        padding-top: 10px;
        padding-right: 10px;
        right: 0;
}
    #cover_text_mid-centre {
        top: 70%;
        width: 80%;
        padding-top: 10px;
        padding-right: 10px;
        right: 15%;
        left: 15%;
}
#cover_text_upper_left > h3, #cover_text_upper_right > h3, #cover_text_lower_left > h3, #cover_text_lower_right > h3, #cover_text_mid-centre > h3 {
    font-size: 65%;
}
}

@media screen and (min-height: 800px) {
    #cover_text_upper_left {
        top: 35%;
        width: 45%;
        padding-top: 10px;
        padding-left: 10px;
    }
    
    #cover_text_upper_right {
        top: 45%;
        width: 45%;
        padding-top: 10px;
        padding-right: 10px;
        right: 0;
    }

    #cover_text_lower_left {
        top: 100%;
        width: 45%;
        padding-top: 10px;
        padding-left: 10px;
}

    #cover_text_lower_right {
        top: 110%;
        width: 45%;
        padding-top: 10px;
        padding-right: 10px;
        right: 0;
}
    #cover_text_mid-centre {
        top: 70%;
        width: 80%;
        padding-top: 10px;
        padding-right: 10px;
        right: 20%;
        left: 20%;
}
    #cover_text_upper_left > h3, #cover_text_upper_right > h3, #cover_text_lower_left > h3, #cover_text_lower_right > h3, #cover_text_mid-centre > h3 {
        font-size: 85%;
}
}

@media screen and (min-height: 1000px) {
    #cover_text_upper_left {
        top: 25%;
        width: 45%;
        padding-top: 10px;
        padding-left: 10px;
    }
    
    #cover_text_upper_right {
        top: 35%;
        width: 45%;
        padding-top: 10px;
        padding-right: 10px;
        right: 0;
    }

    #cover_text_lower_left {
        top: 70%;
        width: 45%;
        padding-top: 10px;
        padding-left: 10px;
}

    #cover_text_lower_right {
        top: 80%;
        width: 45%;
        padding-top: 10px;
        padding-right: 10px;
        right: 0;
}
    #cover_text_mid-centre {
        top: 50%;
        width: 80%;
        padding-top: 10px;
        padding-right: 10px;
        right: 20%;
        left: 20%;
}
    #cover_text_upper_left > h3, #cover_text_upper_right > h3, #cover_text_lower_left > h3, #cover_text_lower_right > h3, #cover_text_mid-centre > h3 {
        font-size: 90%;
    }
}

@media screen and (min-height: 1200px) {
    #cover_text_upper_left {
        top: 25%;
        width: 45%;
        padding-top: 10px;
        padding-left: 10px;
    }
    
    #cover_text_upper_right {
        top: 35%;
        width: 45%;
        padding-top: 10px;
        padding-right: 10px;
        right: 0;
    }

    #cover_text_lower_left {
        top: 65%;
        width: 45%;
        padding-top: 10px;
        padding-left: 10px;
    }

    #cover_text_lower_right {
        top: 70%;
        width: 45%;
        padding-top: 10px;
        padding-right: 10px;
        right: 0;
}
    #cover_text_mid-centre {
        top: 50%;
        width: 70%;
        padding-top: 10px;
        padding-right: 10px;
        right: 20%;
        left: 20%;
}
#cover_text_upper_left > h3, #cover_text_upper_right > h3, #cover_text_lower_left > h3, #cover_text_lower_right > h3, #cover_text_mid-centre > h3 {
    font-size: 120%;
}
}

/*
@media screen and (min-height: 913px) {
    #cover_text_lower_left {
    font-size: 130%;
    top: 70%;
    width: 45%;
    min-height: 100px;
    padding-top: 10px;
    padding-left: 10px;
}

#cover_text_lower_right {
    font-size: 130%;
    top: 100%;
    width: 45%;
    min-height: 100px;
    padding-top: 10px;
    padding-right: 10px;
    right: 0;
}
}
*/

@media screen and (min-width: 250px) {
    h1 {
        font-size: 170%;
    }
    .header_list {
        font-size: 130%;
    }
    footer {
        padding: 3%;
        font-size: 100%;
    }
}

@media screen and (min-width: 390px) {
    h1 {
        font-size: 190%;
    }
    .header_list {
        font-size: 150%;
    }
    #social_media {
        font-size: 130%;
    }
    footer {
        padding: 3%;
    }
    #cover_text_upper_left > h3, #cover_text_upper_right > h3, #cover_text_lower_left > h3, #cover_text_lower_right > h3, #cover_text_mid-centre > h3 {
        font-size: 80%;
    }
}


@media screen and (min-width: 767px) {
    .header_small_devices {
        display: none;
    }
    h1 {
        font-size: 220%;
    }
    .header_list {
        font-size: 160%;
    }
    #social_media {
        font-size: 150%;
    }
    footer {
        padding: 3%;
    }
    #cover_text_upper_left > h3, #cover_text_upper_right > h3, #cover_text_lower_left > h3, #cover_text_lower_right > h3, #cover_text_mid-centre > h3 {
        font-size: 100%;
    }
}


@media screen and (min-width: 912px) {
    .header_small_devices {
        display: none;
    }
    h1 {
        font-size: 260%;
    }
    .header_list {
        font-size: 200%;
    }
    #social_media {
        font-size: 200%;
    }
    footer {
        padding: 3%;
    }
    #cover_text_upper_left > h3, #cover_text_upper_right > h3, #cover_text_lower_left > h3, #cover_text_lower_right > h3, #cover_text_mid-centre > h3 {
        font-size: 120%;
    }
}

@media screen and (max-width: 767px) {
    .header_large_devices {
        display: none;
    }
}




/*

@media screen and (min-width: 993px) {
    .header_list a:hover {
        border-bottom: 1px, solid black;
    }
}

@media screen and (min-width: 1200px) {
    
}
*/